{
    "name": "{{ CONNECT_CREDENTIAL_NAME }}",
    "description": "",
    "organization": null,
    "credential_type": {{ CREDENTIAL_TYPE_ID }},
    "inputs": {
        "url": "http://192.168.49.5:8200",
        "token": "my_token",
        "cacert": "",
        "role_id":"",
        "username": "",
        "namespace": "",
        "api_version": "v2",
        "kubernetes_role": "",
        "client_cert_role": "",
        "default_auth_path": "approle",
        "client_cert_public": ""
    },
    "user": {{ USER }},
    "team": null
}