{
    "name": "{{ PROJ_NAME }}",
    "description": "",
    "local_path": "",
    "scm_type": "git",
    "scm_url": "{{ GIT_REPO }}",
    "local_path": "{{ PROD_LOCAL_PATH | default('') }}",
    "scm_branch": "{{ GIT_BRANCH }}",
    "scm_refspec": "",
    "scm_clean": false,
    "scm_track_submodules": false,
    "scm_delete_on_update": false,
    "credential": null,
    "timeout": 0,
    "organization": 1,
    "scm_update_on_launch": false,
    "scm_update_cache_timeout": 0,
    "allow_override": false,
    "default_environment": null,
    "signature_validation_credential": null
}